.easybtn {
    display: block;
    user-select: none;
    outline: 0;

    font-size: 12pt;
    color: white;
    background-color: #1E90FF;
    
    margin: 2px;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 2px 3px -1px #BBBBBB;
}

.easybtn::-moz-focus-inner {
    border: 0;
}

.easybtn:hover {
    cursor: pointer;
}

.easybtn:active {
    filter: brightness( 1.2 );
    box-shadow: 0 1px 3px -1px #BBBBBB;
}
