/* https://copypet.jp/417/ */

body {
	font-family: arial, sans-serif;
	font-size: 12pt;
    margin: 0px;
    padding: 0px;
}

main {
	display: block;		/* IE対処 */
	background-color: white;
	color: #303030;
    padding: 2px;
}

.inputButton {
    display: none;
}

.warnText {
	font-size: 10px;margin: 3px;padding: 0px;
}

.buttonbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
    margin: 5px;
    padding: 0px;
}

.buttonWrap {
    margin: 3px;
}

img {
	max-width: 100%;
	height: auto;

	/* IE11でflexboxで画像を縮めるために必要 */
	min-height: 0%;
}

.imgcanvas {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}

/* flexboxの入れ子で、図とキャプションの配置関係を作っている */
.inputbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
}

.resultbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}

figure {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
	
	/* 以下の設定で横方向の枠も拡張するようになる */
	/*min-width: fit-content;*/
    /*min-width: 300px;*/
	flex-grow: 1;
	flex-basis: 0;
	
	/* IE11でflexboxで画像を縮めるために必要 */
	/*min-width: 0%;*/
	
	break-inside: avoid;
	text-align: center;
	padding: 0px;
	
	margin-left: 3px;
	margin-right: 3px;

	margin-top: 3px;
	margin-bottom: 3px;
	
	background-color: white;
	box-shadow: 0px 0px 3px #999999;
}

figure.result {
    min-width: 300px;
}

figure a {
	display: -webkit-flex;
	display: flex;

	/* IE11でflexboxで画像を縮めるために必要 */
	max-width: 100%;
	min-height: 0%;

	justify-content: center;
	flex-direction: column;

	flex-grow: 1;
}

figcaption {
	padding-top: 1px;
	text-align: center;
	color: #505050;
	
	/* IE11でflexboxで画像キャプションを縮めるために必要 */
	max-width: 100%;
}

/* 印刷時に飾りを取り除いて、２段組にする */
@media print {	
	@page {
		size: landscape;
	}

	body {
		padding: 0px;
		margin: 0px;
		font-size: 11.5pt;
	}
	
	main {
		padding: 5px;
		margin: 0px;
	
		border-style: none;
		box-shadow: none;
	}

	.warnText {
		display: none;
	}
	
	.buttonbox {
		display: none;
	}

	figcaption {
		font-size: 10pt;
	}
	
	.inputbox {
		/* firefoxでdivを分解しきらないみたい(画像がはみ出る)なのでblockにする */
		flex-wrap: nowrap;
	}

	.resultbox {
		/* firefoxでdivを分解しきらないみたい(画像がはみ出る)なのでblockにする */
		flex-wrap: nowrap;
	}

	figure {
		/* flexbox内で画像をページ境界で分解してしまうことがあるので、無効にしておく */
		/* 今のところ、figureとaをblockに戻しておけば図が分解されることはない */
		display: block;
		
		padding: 5px;
		box-shadow: none;
		border: 1px gray;
	}
	
	figure a {
		/* flexbox内で画像をページ境界で分解してしまうことがあるので、無効にしておく */
		display: inline-block;
	}
	
	figure.result {
		min-width: 0px;
	}
}


