
body {
	font-family: arial, sans-serif;
	font-size: 12pt;
}

main {
	display: block;		/* IE対処 */
	background-color: white;
	color: #303030;
}

.inputButton {
    display: none;
}

/* https://copypet.jp/417/ を参考にさせていただきました */
.inputButtonLabel {
	display: block;
	padding: 0.8em;
    margin: 0.4em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 2px solid #1E90FF;
    background: #1E90FF;
	border-radius: 5px;
	transition: .2s;
}

.inputButtonLabel:hover {
	background: #fff;
	color: #1E90FF;
}

.execButtonLabel {
	display: block;
	padding: 0.8em;
    margin: 0.4em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 2px solid #F2428D;
    background: #F2428D;
	border-radius: 5px;
	transition: .2s;
}

.execButtonLabel:hover {
	background: #fff;
	color: #F2428D;
}

.buttonbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
}

img {
	max-width: 100%;
	height: auto;

	/* IE11でflexboxで画像を縮めるために必要 */
	min-height: 0%;
}

/* flexboxの入れ子で、図とキャプションの配置関係を作っている */
.figbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}

figure {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
	
	/* 以下の設定で横方向の枠も拡張するようになる */
	/*min-width: fit-content;*/
    min-width: 300px;
	flex-grow: 1;
	flex-basis: 0;
	
	/* IE11でflexboxで画像を縮めるために必要 */
	/*min-width: 0%;*/
	
	break-inside: avoid;
	text-align: center;
	padding: 3px;
	
	margin-left: 3px;
	margin-right: 3px;

	margin-top: 3px;
	margin-bottom: 3px;
	
	background-color: white;
	box-shadow: 0px 0px 3px #999999;
}

figure a {
	display: -webkit-flex;
	display: flex;

	/* IE11でflexboxで画像を縮めるために必要 */
	max-width: 100%;
	min-height: 0%;

	justify-content: center;
	flex-direction: column;

	flex-grow: 1;
}

figcaption {
	padding-top: 2px;
	text-align: center;
	color: #505050;
	
	/* IE11でflexboxで画像キャプションを縮めるために必要 */
	max-width: 100%;
}


