/* https://copypet.jp/417/ */

body {
	font-family: arial, sans-serif;
	font-size: 12pt;
    margin: 0px;
    padding: 0px;
}

main {
	display: block;		/* IE対処 */
	background-color: white;
	color: #303030;
    padding: 2px;
}

.inputButton {
    display: none;
}

.channelSelector {
    margin-left: 0.4em;
}

.channelSelector.R {
    color: red;
}

.channelSelector.G {
    color: green;
}

.channelSelector.B {
    color: blue;
}

.channelSelector.All {
    color: black;
}

.warnText {
	font-size: 10px;margin: 3px;padding: 0px;
}

.spinnerWrap {
    display:none;  
}

.buttonbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
    margin: 3px;
    padding: 0px;
}

.sliderbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
    margin: 3px;
    padding: 0px;
}

.sliderWrap {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
    margin: 0px;
    padding: 3px;
}


.buttonWrap {
    margin: 2px;
}

img {
	max-width: 100%;
	height: auto;

	/* IE11でflexboxで画像を縮めるために必要 */
	min-height: 0%;
}

.imgcanvas {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}

.inputbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
}

.resultbox {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}

/* flexboxの入れ子で、図とキャプションの配置関係を作っている */
figure {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
	
	/* 以下の設定で横方向の枠も拡張するようになる */
	/*min-width: fit-content;*/
    /*min-width: 300px;*/
	flex-grow: 1;
	flex-basis: 0;
	
	/* IE11でflexboxで画像を縮めるために必要 */
	/*min-width: 0%;*/
    
    max-width: 700px;
	
	break-inside: avoid;
	text-align: center;
	padding: 0px;
	
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	
	background-color: white;
	box-shadow: 0px 0px 3px #999999;
}

figure.result {
    min-width: 300px;
}

figcaption {
	padding-top: 1px;
	text-align: center;
	color: #505050;
	
	/* IE11でflexboxで画像キャプションを縮めるために必要 */
	max-width: 100%;
}

/* 印刷時 */
@media print {	
	@page {
		size: A4 landscape;
	}

	body {
		padding: 0px;
		margin: 0px;
		font-size: 10pt;
	}
	
	main {
		padding: 0px;
		margin: 0px;
	
		border-style: none;
		box-shadow: none;
	}
    
    /* MDL MDLによる属性表示を無効化 */
    a[href]:after {
        content: "";
    }

    .tooltipnspan {
        display: none;
    }

	.warnText {
		display: none;
	}
	
	.buttonbox {
		display: none;
	}
    
    .sliderbox {
        display: none;
    }
    
    .channelSelector {
        display: none;
    }

	figcaption {
		font-size: 9pt;
	}
	
	.inputbox {
		flex-wrap: nowrap;
	}

	.resultbox {
		flex-wrap: nowrap;
        page-break-inside: avoid;
	}

	figure {
		/* flexbox内で画像をページ境界で分解してしまうことがあるので、無効にしておく */
		/* 今のところ、figureとaをblockに戻しておけば図が分解されることはない */
		display: block;
		
		padding: 0px;
		box-shadow: none;
		border: 1px gray;
        
        max-width: initial;
	}
  	
	figure.result {
		min-width: 0px;
	}
}


